<section id="carreira" class="container section divided" aria-labelledby="experience-title">
  <app-section-heading
    [index]="3"
    [kicker]="experience().kicker"
    [title]="experience().title"
    titleId="experience-title"
  />

  <ol class="jobs" role="list">
    @for (job of experience().jobs; track $index) {
      <li class="job">
        <div class="job-head">
          <span class="job-initial" aria-hidden="true">{{ job.org.charAt(0) }}</span>
          <div>
            <p class="job-period">{{ job.period }}</p>
            <h3 class="job-role">{{ job.role }}</h3>
            <p class="job-org">&#64;{{ job.org }}</p>
            <p class="job-place">{{ job.place }}</p>
          </div>
        </div>

        <div class="job-body">
          <p class="job-summary">{{ job.summary }}</p>
          <ul class="tags job-tech" role="list">
            @for (tech of job.tech; track tech) {
              <li class="tag">{{ tech }}</li>
            }
          </ul>
          @if (job.highlights.length) {
            <ul class="job-highlights" role="list">
              @for (highlight of job.highlights; track $index) {
                <li>{{ highlight }}</li>
              }
            </ul>
          }
        </div>
      </li>
    }
  </ol>
</section>
